/* Aplicar estilo a todos los elementos */
* {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Contenedor principal */
body, 
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background-color: #00889122; 
}

/* Barra de navegación */
.navBarHome {
	position: absolute;
	display: inline-flex;
    background-color: #008891;
    color: #fff;
    width: 100%;
    height: 10%;
}

.fa-house,.navHome,
.fa-arrow-left,
.before,
.mini,
.maxi,
.close {
	padding-right: 8px;
}

/*Barra de navegacion parte izquierda*/
.navBarLeft, .navBarRight{
	width: 50%;
	position: absolute;
	transform: translateY(+50%);
}
/*Barra de navegacion parte derecha*/
.navBarRight{
	text-align: right;
	position: absolute;
	right: 0;
}

/* Contenedor de login*/
.boxLogin,
.boxRegister,
.boxNewPassword {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    top: 10%; 
    padding: 20px;
    background-color: inherit ; 
    text-align: center;
}
/*Boton*/
.button{
    width: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: .8;
    font-size: 16px;
}
.button:hover{
    background-color: #00889155 ;
}

/*subrayado y tamaño*/
.boxLogin p a, 
.forgotPassword a,
.boxRegister a {
    text-decoration: underline;
    font-size: 15px;
}

.boxLogin input, 
.boxRegister input, 
.boxNewPassword input  {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #111;
    width: 250px;
}

input:hover{
    background-color: #00889155;
}
/*Espaciado entre el formulario y la parte inferior*/
.forgotPassword,
.boxLogin form,
.boxNewPassword form{
    padding-top: 50px;
}

.boxLogin label,
.boxRegister label, 
.boxNewPassword p{
    font-size: 22px;
}
.navbar{
    background-color: #008891;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 6%;
}
.navbar .barnavizq {
    width: 40%;
    transform: translateY(+30%);
}
.navbar .navbarder{
    width: 60%;
    text-align: right;
    position: absolute;
    right: 0;
    transform: translateY(+30%);
}
.navbar2{
    background-color: #00889155;
    position: absolute;
    display: inline-flex;
    height: 7%;
    width: 90%;
    top: 6%;
    right: 0;
    z-index: 5;
}
.navbargeniz{
    width: 50%;
    text-align: right;
    position: absolute;
    right: 0;
}
.navbariz{
    background-color: #00889155;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    height: 94%;
    bottom: 0;
}
.new {
    padding: 39px 0 39px 0;
    text-align: center;
}
.new:hover{
    background-color: #00889155;
}
.fa-coins,
.fa-cart-shopping,
.fa-bag-shopping,
.fa-user {
    font-size: 30px;
}
.boxHome,.boxHelp{
    position: absolute;
    width: 90%;
    height: 87%;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}
/*Ajustar tamaño imagen*/
.storeimg{
    font-size: 0px;
    width: 450px;
}
/*configuracion del menu*/
.menu {
    position: relative;
    display: inline-block;
}
.boton_menu {
    background-color: transparent; /* Color de fondo del botón */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 20px 0 20px;
}
.boton_menu:hover{
    background-color: #00889155;
}
.lista-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    background-color: #00889155; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    border-radius: 5px;
    transform: translateX(-80px);
    top: 30px;
}
.lista-menu .textmenu {
    padding: 10px;
}
.lista-menu li {
    padding: 10px 15px;
    text-align: center;
}
.lista-menu li a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none;
    display: block;
}
.lista-menu li a:hover {
    background-color: #005e68;
}
.navbargender{
    position: absolute;
    display: inline-flex;
}
/*texto del innventario */
.text_inventario{
    padding: 10px;
}
.text_inventario:hover{
    background-color: #00889155;
}

/*Ayuda*/
.boxHelp input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #111;
    width: 250px;
}
.boxHelp input:hover{
    background-color: #00889133;
}
.boxHelp .textHelp, 
.boxHelp .comments{
    position: relative;
    display: block;
    padding: 15px;
    font-size: 22px;    
}

/*Ventas*/
.boxSales, 
.boxSales2, 
.boxSales3,
.boxShopping,
.boxShopping2,
.boxShoppingLeft,
.boxProducts,
.boxProducts2,
.boxPeople,
.boxPeople2,
.boxCategory,
.boxCategory2,
.boxInventory,
.boxInventory2{
    position: absolute;
    display: inline-flex;
    padding: 10px;
}
.boxSales,
.boxShopping{
    width: 20%;
    height: 60%;
    left: 10%;
    top: 13%;
    flex-direction: column;
}

.boxSales2,
.boxShopping2{
    width: 20%;
    bottom: 0;
    left: 10%;
    height: 20%;
}
.boxSales3, 
.boxShoppingLeft{
    width: 70%;
    bottom: 0;
    height: 80%;
    right: 0;
    flex-direction: row-reverse;
    border-left: 2px solid #111;
}
.boxSalesInventary,
.boxShoppingInventary{
    position: absolute;
    display: inline-flex;
    width: 70%;
    height: 7%;
    right: 0;
    top: 13%;
    border-left: 2px solid #111;
    padding: 10px;
    flex-direction: row-reverse;
}
/*Boton de inventario*/
.viewInventary{
    background-color: transparent;
    width: 100px;
    height: 10vh;
    border-radius: 20px;
    border: none;
    padding: 2px;
}
.viewInventary:hover{
    background-color: #00889188;
}
label{
    position: relative;
    display: block;
    padding: 2px;
}
input{
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #111;
}

.boxSales select,
.boxShopping select,
.boxProducts select{
    background-color: transparent;
    border-radius: 10px;
    border: none;
}
.boxSales select:hover,
.boxShopping select:hover,
.boxProducts select:hover{
    background-color: #00889188;
}
 button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    border: none;
    font-weight: bold;
}
 button:hover{
    background-color: #00889199;
}
h1{
    margin: 10px;
    font-size: 22px;
    display: block;
}
.boxSales p,
.boxShopping p{
    font-size: 20px;
}
.boxSales2 input,
.boxShopping2 input{
    background-color: transparent;
    border: none ;
    border-bottom: 1px solid #111;
}
.boxSales2 form input:hover,
.boxShopping2 input:hover  {
    background-color: #00889155;
}
/*Productos*/

.boxProducts,
.boxPeople,
.boxCategory,
.boxInventory{
    display: block;
    height: 87%;
    top: 13%;
    left: 10%;
    width: 30%;
    flex-direction: column;
}
.boxProducts2,
.boxPeople2,
.boxCategory2,
.boxInventory2{
    height: 87%;
    bottom: 0;
    right: 0;
    width: 60%;
    border-left: 2px solid #111;
}
.boxPeople label{
    padding: 5px;
}
.boxInventory2{
    flex-direction: column;
}
.boxInventory2 input{
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #111;
}

.boxShopping3{
    width: 55%;
    top: 13%;
    height: 87%;
    right: 0;
    flex-direction: row-reverse;
    border-left: 2px solid #111;
}



.boxSetting{
    padding: 10px;
    display: inline-flex;
    width: 40%;
    position: absolute;
    height: 87%;
    left: 10%;
    top: 13%;
    flex-direction: column;
    text-align: center;
}
.boxSetting a{
    padding: 50px;
    font-weight: bold;
    cursor: pointer;
}
.boxAppearance,
.boxProfile,
.boxLenguageDate{
    padding: 10px;
    display: inline-flex;
    width: 50%;
    position: absolute;
    height: 87%;
    right: 0;
    top: 13%;
    flex-direction: column;
    text-align: center;
}
.boxAppearance p,
.boxLenguageDate p,
.boxProfile p{
    font-size: 20px;
}
.boxAppearance form, 
.appearanceGen,
.profile,
.boxProfile form,
.boxLenguageDate form{
    padding: 20px;
}
.imgmio{
    width: 100px;
    border-radius: 50%;
}
.save{
    align-items: center;
    width: 100px;
}
.profile p{
    font-weight: bold;
}
/* Estilos generales para la tabla */
table input, table button {
    border-radius: 8px;
}

table {
    width: 100%; /* Cambiado de 80% a 100% para que ocupe todo el ancho del contenedor */
    border: none;
    border-collapse: collapse;
    margin-bottom: 20px; /* Ejemplo de margen inferior */
    table-layout: auto; /* Ajusta el ancho de la tabla al contenido */
}

/* Estilos para las celdas de encabezado */
table th {
    background-color: #00889155;
    color: white;
    border: 1px solid #dddddd;
    padding: 5px; /* Ajusta el padding según tus necesidades */
    text-align: left;
}

/* Estilos alternativos para las filas */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para las celdas de datos */
table td {
    border: 1px solid #dddddd;
    padding: 5px; /* Ajusta el padding según tus necesidades */
}

/* Estilos para los inputs dentro de la tabla */
table input[type='text'],
table input[type='number'],
table input[type='date'] {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    box-sizing: border-box; /* Para incluir el padding y border en el ancho total */
}

.boxProducts,
.boxPeople{
    width: 20%;
    height: 87%;
    bottom: 0;  
    display: block;
    left: 10%;
    flex-direction: column; 
}
.boxProducts2,
.boxPeople2{
    width: 70%;
    height: 80%;
    top: 20%;
    right: 0;
    border-left: 2px solid #111;
}
.boxProducts3,
.boxPeople3 {
    position: absolute;
    display: flex; /* Cambia a flex en lugar de inline-flex */
    height: 7%;
    width: 70%;
    top: 13%;
    right: 0;
    border-left: 2px solid #111;
    flex-direction: row; /* Los elementos estarán en fila */
    align-items: center; /* Alinea verticalmente al centro */
}


.boxProducts3 form{
    padding: 10px;
}

.boxProducts3 input{
    border: none;
    border-bottom: 1px solid #111;
    background-color: transparent;
}
.boxProducts3 input:hover{
    background-color: #00889199;
}




.pagination {
    display: inline-flex;
    position: absolute;
    bottom: 5px;
    width: 95%;
    align-items: center;
    justify-content:center;
    margin: 20px, 0;
}
.pagination a {
    text-decoration: none;
}

.pagination .pagination-nav {
    border-radius: 0; /* Sin bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
}

.pagination .pagination-number {
 
    border-radius: 50%; /* Bordes redondeados para los círculos */
    padding: 5px 10px; /* Tamaño del círculo, ajusta según sea necesario */
    margin-right: 10px; /* Espacio entre los círculos */
    display: inline-block; /* Para que el margen se aplique correctamente */
    text-align: center; /* Opcional: centrar el texto dentro del círculo */
    width: 30px; /* Ajusta el ancho del círculo */
    height: 30px; /* Ajusta la altura del círculo */
}
.pagination .pagination-number:hover{
    background-color: #00889199;
}

.boxCategory2 {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    align-items: flex-start; /* Alinea los elementos al principio (izquierda) */
}

.boxCategory2 h1 {
    margin-bottom: 20px; /* Espacio entre el título y la tabla */
}
.boxCategory2 table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

.boxPeople3,
.boxProducts3{
    position: absolute;
    display: inline-flex;
}
.boxPeople3 input,
.boxProducts3 input{
    width: auto;
    margin-left: 20px;
}


h2{
    margin: 10px;
    font-size: 18px;
    display: block;  
}
.boxInventory3{
    display: inline-flex;
    position: absolute;
    flex-direction: column;
    width: 60%;
    height: 55%;
    bottom: 0;
    right: 0;
}
